 .overall { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;  
    max-width: 1400px; 
    margin:auto;
    
        
 }

 .otherComponents{
    display: flex;
    position: end;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    font-family: fedora;
    
   
   
 }
 .burger{
    display:none;
 }
Link{
    text-decoration: none;
    color:'#532980';
    font-weight: bold;
}


.intro{
    display: flex;
    gap:20px;
}
/* button{
    text-decoration: none;
    background-color:rgb(22,33,20) ;
    padding: 12px 20px;
    color:rgb(255,92,0);
    border: none;
    border-radius: 30%;
    width: fit-content;
} */
/* span{
    color:rgb(255,240,210);
   
} */
@media (max-width: 768px) {
    .burger{
        display: block;
        margin-right:60px;
        

    }
    .otherComponents { flex-direction: column;
        gap:10px;
        display: none;

   } 
   /* @media (min-width: 768px) { 
   .otherComponents {
    flex-direction: row; 
     } 
   } */
}